/* générale*/
:root{
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #D9D9D9;
    }

    body{
        font-family: 'Raleway', sans-serif;
        margin-left: 3%;
        margin-right: 3%;
        margin-top:  7px;
        max-width: 1400px;
        margin: 0 auto;
    }

    a{
        text-decoration: none;
        color: black;
    }

    /*barre de navigation*/

    .logo{
        width: 61.09px;
        height: 19px;
    }

    nav{
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-bar{
        display: flex;
        width: 35%;
        align-items: center;
    }

    .nav-bar-1:hover{
        border-top: #0065FC 3px solid;
    }

    .nav-bar-1{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
    }

    .nav-bar-2:hover{
        border-top: #0065FC 3px solid;
    }

    .nav-bar-2{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 50%;
    }

    .link{
        margin-top: 30px;
    }

    /*main*/

    h1{
        font-size: 19px;
    }

    p{
        font-size: 12px;
    }
    

    /*barre de recherche*/ 

    #research{
    border: none;
    width: 200px;
    height: 35px;
    }

    .formulaire{
        display: flex;
        height: 35px;
        margin-top: 15px;
    }

    #rechercher{
        background-color: #0065FC;
        color: white;
        font-weight: bolder;
        border-radius: 0px 10px 10px 0px;
        border: none;
        width: 12%;
    }

    #search-phone{
        display: none;
    }

    .icone{
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 0px 0px 10px;
        background-color: #D9D9D9;
    }

    /* filtre*/

    .filters{
        display: flex;
        align-items: center;
    }

    .filters-li{
        display: flex;
        flex-wrap: wrap;
        font-size:  15px;
        align-items: center;
    }

    .filters-li i {
        display: flex;
        
        border-radius: 100%;
        height: 25px;
        width: 25px;
        color: #0065FC;
        align-items: center;
        justify-content: center;
        margin: -2px;
    }

    .filters-li li {
        display: flex;
        align-items: center;
        margin-right: 10px;
        border: #D9D9D9 2px solid;
        border-radius: 32px;
        margin: 15px;
        cursor: pointer;
    }

    .filters-li li:hover{
        background-color: #DEEBFF;
    }

    /*info*/

    .info i{
        border:#D9D9D9 solid 2px;
        border-radius: 100%;
        color: #0065FC;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
    }

    .info{
        display: flex;
        align-items: center;
    }

    .espace{
        margin-left: 10px;
    }

    /*hébergement et populaire*/

    .liste-appartement div{
        background-color: #F2F2F2;
        border-radius: 1rem;
    }

    .liste-appartement{
        display: flex;
        justify-content: space-around;
    }

    .ville{
        margin-right: 20px;
        width: 70%;
    }

    .populaire{
        margin-left: 20px;
        width: 30%;
    }
    
    .liste-appart{
        display: flex;
        justify-content: space-around;
    }

    .liste-appart div{
        flex-basis: 33%;
    }

    .afficher-plus{
        margin-left: 40px;
    }

    /*star*/

    .star .blue {
        color: #0065FC;
    }

    .star .grey{
        color: #D9D9D9;
    }

    /*card*/

    .card {
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: white;
        box-shadow: 0 0 16px grey;
        height: 199px;
        width: 246px;
        margin: 20px;
    }
    .card:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .card img {
        display: flex;
        justify-content: flex-start;
        border-radius: 1rem 1rem 0 0;
        height: 60%;
        width: 100%;
        object-fit: cover;
    }

    .card p, .card h3 {
        margin: 0.2rem;
    }

    .colonne{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /*populaire*/

    .liste-appartement .populaire {
        display: flex;
        flex-direction: column;
    }

    .populaire div{

        display: flex;
        flex-wrap: wrap;
    }

    .card2 img {
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
        width: 40%;
        height: 144px;
    }

    .card2{
        display: flex;
        background-color: white;
        height: 144px;
        width: 600px;
        padding: 2%;
        border-radius: 1rem;
        margin: 10px;
        box-shadow: 0 0 16px grey;
    }

    .card2:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .coter-d-card {
        display: flex;
        flex-direction: column;
        height: 144px;
        background-color: white;
        opacity: 100%;
        }

    .card2 .star {
        margin-top: auto;
    }

    .line-up {
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px;
    }

    .line-up div {
        color: #0065FC;
    }

    .coter-d-card p, .coter-d-card h3 {
        margin: 0.2rem;
    } 

    /*activite*/

    .activite {
        flex-wrap: wrap;
        font-size: 21px;
        width: 100%;
    }
    .activite-global{
        display: flex;
       font-size: medium;
    }

    .card-activite{
        display: block;
        background-color: #F2F2F2;
        box-shadow: grey;
        border-radius: 20px;
        height: 444.51px;
        width: 90%;
        margin: 10px; 
    }
    
    .card-activite img{
        object-fit: cover;
        width: 100%;
        height: 380px;
        border-radius: 20px 20px 0px 0px;
    }

    .card-activite:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    /*footer*/

.footer{
    background-color: #DEEBFF;
    width: 100%;
    margin-top: 50px;
}

    .colone{
    padding: 10px 15px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    }

    .footer-wrap{
       display: flex;
        max-width: 100%;
        margin:auto;
        box-sizing: border-box;
        padding: 0 25px;
    }
    .footer ul {
        display: block;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    /* media queries telephone */
@media screen and (max-width: 768px){
    body{
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin-top: 0px;
        display: block;

    }
/************header******/
    nav{
        height: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 2px;
    }
    #nav-bar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav-bar-1:hover{
        border-top: none;
        border-bottom: #0065FC 1px solid;
    }
    .nav-bar-2:hover{
        border-bottom: #0065FC 1px solid;
        border-top: none;
    }
    .link{
        margin-bottom: 30px;
    }



    

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 2px;
    width: 100%;
}
.activite{
    display: flex;
    flex-direction: column;
}
.activite-global{
    flex-direction: column;
}

.footer-wrap{
    flex-direction: column;
}
.colone{
    flex-direction: column;
}
.liste-appart{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0%;
}
.populaire{
    width: 100%;
}
.ville{
    flex-direction: column-reverse;
    width: 100%;
    margin: 5%;
}
.ville2{
    margin-left: 0px;
}

.figure

.card{
    width: 90%;
    margin: 5%
}

/*filtre*/
.filters{
    display: inline;
    width: 100%;

}
.title-h2{
    width: 100%;
    display: flex;
}
.filters-li{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 100%;
}

    




.card-activite{
    flex-wrap: wrap;
    flex-direction: column;
    height: 190px;
    width: 90%;
}

.card-activite h3{
    margin-top: 2px;
}

.card-activite img{
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

#search-phone{
    display: inline;
}
}

/* Media queries tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
   
} 
